<h1><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Lines</h1>

<button ui-sref="admin.newUser" class="btn btn-info" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New</button>

<hr>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>สาย</th>
      <th>ต้นทาง</th>
      <th>ปลายทาง</th>
      <th>ประเภทรถ</th>
      <th>เบอร์ติดต่อ</th>
      <th>victory-corner</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>****</td>
      <td><button class="btn btn-danger" type="submit">Delete</button></td>
    </tr>
  </tbody>
</table>