<div class="form-group has-feedback">
  <label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
  <input type="text" class="form-control" ng-model="q" ng-keyup="search(q)" id="inputSuccess5" aria-describedby="inputSuccess5Status" placeholder="ค้นหา">
  <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
  <span id="inputSuccess5Status" class="sr-only">(success)</span>
</div>

<div ng-repeat="line in lines" ui-sref="lineInfo({id: line._id})">
  <h2>{{line._id}}</h2>
  <span ng-repeat="number in line.lines" class="line-number {{number.victoryCorner}}"><b>{{number.number}}</b></span>
  <hr>
</div>
